body{
	background-color: #330000;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23555555'/%3E%3Cstop offset='1' stop-color='%23330000'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%234EFF67' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%234EFF67' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.24'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
	background-attachment: fixed;
	background-size: cover;
}
h5 span{
  font-size: 14px;
}
.side-heading{
  font-size: 18px;
  line-height: 35px;
  border-bottom: 2px solid teal;
}
.inp-div{
  /*border-bottom: 2px solid grey;*/
}
.bg-inp{
  outline: none;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  /*background-color: lightgrey;*/
}
.border-bottom{
  border-width: 2px !important;
}

textarea{
  width: 60%;
  height: 100px;
}
button{
  width: 200px;
  height: 45px;
  outline: none;
  border: none;
  background-color: teal;
  color: whitesmoke;
  font-weight: bolder;
  font-size: 24px;
  border-radius: 25px;
  display: block;
  
}
